@page "/"
@inject NavigationManager NavigationManager
@inject DBContext DbContext
@using System.Globalization

@inject IStringLocalizer<Shared.ResourceFiles.IndexPage> Loc

<h1 style="text-align:center;">@Loc["Greeting"]</h1>

<h2 style="text-align:center;">@Loc["Gallery"]</h2>

<ul class="task-cards">
@if (problem.Count != 0)
{
    @foreach (Problems pr in problem)
    {
        <li @onclick=" () => NavigationManager.NavigateTo(NavigationManager.BaseUri + url + pr.Id)" style="background-image: url('@images.Find(p => p.Id == pr.ImageId).Description'); ">
            <div class="task-info">
                <span class="title">@pr.Name</span>
                <span class="title">@pr.Subject</span>
            </div>
        </li>
    }
}
</ul>

@code{

    [Parameter]
    public string Culture { get; set; }

    private bool onHoover = false;
    private string text, url = "/task/";
    private List<Problems> problem;
    private List<Image> images;

    protected override void OnInitialized()
    {
       
        problem = DbContext.problems.ToList();
        images = DbContext.images.ToList();
        base.OnInitialized();
    }


}
