@page "/taskView"
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@inject DBContext DbContext
<h3>@text</h3>

<table class="tables">
    <tr class="trs">
        <th class="thes" width="8%">Problem Id</th>
        <th class="thes">Name</th>
        <th class="thes">Subject</th>
        <th class="thes">Topic</th>
        <th class="thes" width="8%">Grade</th>
        <th class="thes" width="8%">Complexity</th>
        <th class="thes" width="8%">Timer</th>
    </tr>
    @if(problems.Count != 0)
    @foreach(Problems pr in problems)
    {
        <tr class="trs">
            <td class="tds">@pr.Id</td>
            <td class="tds"><a href="/task/@pr.Id">@pr.Name</a></td>
            <td class="tds">@pr.Subject</td>
            <td class="tds">@pr.Topic</td>
            <td class="tds">@pr.Grade</td>
            <td class="tds">@pr.Complexity</td>
            <td class="tds">@pr.EnableTimer</td>
        </tr>
    }
</table>

@code {
    private string text;
    private List<Problems> problems;

    protected override void OnInitialized()
    {
        problems = DbContext.problems.ToList();
        base.OnInitialized();
    }

}
