@page "/taskView"
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@inject DBContext DbContext
<h3>@text</h3>

<table>
    <tr>
        <th>ProblemId</th>
        <th>Name</th>
        <th>Subject</th>
        <th>Topic</th>
        <th>Grade</th>
        <th>Complexity</th>
    </tr>
    @if(problems.Count != 0)
    @foreach(Problems pr in problems)
    {
        <tr>
            <td>@pr.Id</td>
            <td><a href="/task/@pr.Id">@pr.Name</a></td>
            <td>@pr.Subject</td>
            <td>@pr.Topic</td>
            <td>@pr.Grade</td>
            <td>@pr.Complexity</td>
        </tr>
    }
</table>

@code {
    private string text;
    private List<Problems> problems;

    protected override void OnInitialized()
    {
        problems = DbContext.problems.ToList();
        base.OnInitialized();
    }

}
