@using System.Globalization

@inject IStringLocalizer<Shared.ResourceFiles.MenuPage> Loc

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" style="font-size: medium;" href="">@Loc["Name"]</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> @Loc["Home"]
            </NavLink>
            <NavLink class="nav-link" href="/taskView" Match="NavLinkMatch.All">
                <span class="oi oi-book" aria-hidden="true"></span> @Loc["Tasks"]
            </NavLink>
            <NavLink class="nav-link" href="constructor" Match="NavLinkMatch.All">
                <span class="oi oi-file" aria-hidden="true"></span> @Loc["Constructor"]
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
